node_modules
vendor
storage


.env
public/images
public/media
public/storage
public/css/app.css
public/css/web.css
public/css/style.css
public/js
storage/logs

CaExp LoR July 18.docx
*.sql
.env.prod
.env.dev
package-lock.json

